@import url('https://fonts.googleapis.com/css?family=Teko');
#accept:hover {
    cursor: pointer;
}

#reject:hover {
    cursor: pointer;
}

.accept-reject {
    display: flex;
    flex-direction: row;
}

.accept-reject li {
    font-size: 18px;
    margin-right: 10px !important;
}
