#accept:hover {
    cursor: pointer;
}

#reject:hover {
    cursor: pointer;
}

.accept-reject {
    display: flex;
    flex-direction: row;
}

.accept-reject li {
    font-size: 14px;
    margin: 5px 10px 5px 0;
}