.caption-votes-container {
    height: 85px;
    width: 50px;
}

.caption-votes-container li {
    font-weight: bold;
    font-size: 22px;
    margin: 1px 0;
    height: 25px;
}

.caption-votes-container > ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.vote-count {
    font-size: 16px;
}

.vote-ticker-plus, .vote-ticker-minus {
    font-size: 12px;
}

.vote-ticker-plus:hover, .vote-ticker-minus:hover {
    cursor: pointer;
}
