  @import url('https://fonts.googleapis.com/css?family=Teko');

.caption-creator-form {
    display: flex;
    flex-direction: row;
    margin: 20px;
    font-family: 'Teko';
}

.caption-creator-input {
    width: 85%;
    font-size: 25px;
    border-radius: 3px;
    margin-right: 0.6em;
    padding: 0.6em;
    font-family: 'Teko';
}
