.caption-container {
    width: 100%;
    display: inline-block;
    margin: 3px 0;
    padding: 0.5em 0;
    border: solid 1px rgba(65, 65, 65, 0.8);
    background-color: rgba(196, 196, 196, 0.282);
}

.caption-content {
    margin: auto 0;
}

.caption-container > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
}

.caption-container li > * {
    padding: 1px 0;
}

.linked-caption {
    text-decoration: none;
    color: black;
}
