.caption-filter {
    display: flex;
    flex-direction: row;
    color: white;
    height: 30px;
}

.caption-filter li {
    font-size: 24px;
    margin-right: .6em;
    cursor: pointer;
    border: 1px solid transparent;
    font-family: 'Teko';
}
