.edit-caption {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 5px;
    padding: 0 !important;
    margin: 0 0.8em;
    font-size: 18px;
    letter-spacing: .5px;
    color: white;
    cursor: 'pointer';
}

.edit-caption:hover {
    color: #1DE28F;
    cursor: pointer;
}

.caption-editor-input {
    display: block;
    box-sizing: border-box;
    width: 375px;
    border-radius: 3px;
    outline-color: #1DE28F;
    padding: 0.5em;
    font-family: 'Teko';
    font-size: 20px;
    letter-spacing: 0.5px;
    resize: none;
}

.caption-editor-input:focus {
    box-shadow: 1px 3px 1px #000000;
}

.caption-editor-btn {
    display: inline;
    padding: 0.1em 1.2em;
    margin: 0.5em 0;
    border-radius: 3px;
    border: none;
    font-family: Teko;
    font-size: 16px;
}

.is-editing .dot {
    width: 11px;
}