@import url('https://fonts.googleapis.com/css?family=Teko');

.CreateMoment {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: auto;
    padding-left: 0px;
    padding-top: 0px;
    height: 20%;
}

div.createMoment-header{
  text-align: center;
  margin-top: 20px;
  padding-bottom: 40px;
}

div.createMoment-header img{
  text-align: center;
  width: 420px;
}

div.createMoment-description {
  display: block;
  position: center;
  text-align: center;
  font-family: 'Teko';
  color: #1DE28F;
  font-size: 48px;
}
.content-container {
    display: block;
    position: center;
    margin-top: 30px;
    margin-bottom: 20px;

}
.label {
    margin-right: 40px;
}

.textarea {
    padding-left: 10px;

}

.button {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-size: 26px;
    font-family: 'Teko';
    width: 90px;
    border-radius: 2px;
}
.button:hover{
    border-width: 2px;
    border-color: #1DE28F;
}
/*
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
*/
.inputfile {
  cursor: pointer;
	width: 0.1px;
	height: 0.01px;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  background-color: white;
  font-weight: 200;
  font-size: 40px;
  border-radius: 3px;
  border-color: white;
  border-width: 2px;
  display: inline-block;
}
.content-container img{
  height:34px;
  width: 35px;
  position: relative;
  top: 9.5px;
  padding-left: 3px;
}

.inputfile + label {
    position: center;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    height:50px;
    width: 200px;
    padding: 0px 10px 0px 10px;
    font-family: 'Teko';
    font-weight: 200;
    text-align:center;
    background-color: #FFFFFF;
    border-radius: 3px;
    border-width: thin;
    border-color: #202020;
    display: inline-block;
    margin: 8px;
}
.inputfile:focus + label {
	outline: 1px dotted #FFFFFF;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  border-width: 2px;
  border-color: #1DE28F;
}

#filename {
  font-family: 'Teko';
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 200;
}

:root {
  /* generic */
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);
  /* floated labels */
  --labelTransformedPosY: calc(
    (50%) -
    (1rem * 0.8) -
    (2.4rem * 1.8)
  );
  --inputTransitionTF: var(--transitionTF);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 9px;
}

.Wrapper {
  display: inline-block;
  position: center;
  padding-top: 28px;
  flex: 0 0 20%;
  width: 600px;
  height: 150px;
}
textarea{
   resize: none;
   height: 100px;
}
.Input {
  text-align: center;
  position: relative;
}

.Input-text {
  text-indent: .5px;
  display: block;
  margin: 0;
  padding: 10px 10px;
  color: inherit;
  width: 100%;
  font-family: "Teko", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  border: none;
  border-radius: 6.5px;
  transition: box-shadow 0.3s;
}

.Input-text:focus {

  outline: none;
  box-shadow: 3.2px 12.8px 25.6px #000000;
}

.Input-label {
  display: block;
  position: absolute;
  bottom: 50%;
  left: 16px;
  color: #FFFFFF;
  font-family: "Teko";
  font-size: 28px;
  font-weight: 300;
  line-height: 1.8;
  opacity: 0;
  transform:
    translate3d(0, 50%, 0)
    scale(1);
  transform-origin: 0 0;

}

.Input-text:placeholder-shown + .Input-label {

  visibility: hidden;
  z-index: -1;
}

.Input-text:not(:placeholder-shown) + .Input-label,
.Input-text:focus:not(:placeholder-shown) + .Input-label {

  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform:
    translate3d(0, var(--labelTransformedPosY), 0)
    scale(0.8);
  transition:
    transform 0.3s,
    visibility 0ms,
    z-index 0ms;
}
