@import url('https://fonts.googleapis.com/css?family=Teko');

.login-container {
  display: block;
  margin: 34px;
  padding: 15px; 
  font-size: 15px;    
  font-style: normal;
  width: 540px;
  font-variant: normal;
  font-weight: 300;
  background-color: #484848;
  box-shadow: 0 6px 0 black;
  border-radius: 3px;
  margin:auto;
}
.registration-container {
  margin: 34px;
  padding: 15px; 
  font-size: 15px;    
  font-style: normal;
  width: 540px;
  font-variant: normal;
  font-weight: 300;
  background-color: #484848;
  box-shadow: 0 6px 0 black;
  border-radius: 3px;
  margin:auto;
}
.container-label {
  float: center;
  padding-left: 70px;
  display: block;
  padding-top: 15px;
  font-family: 'Teko';
  font-size: 48px;
  color:white;
}
.input-label {
  padding-left: 63px;
  display: inline-block;
  padding-top: 15px;
  font-family: 'Teko';
  font-size: 26px;
  color:white;
}
.input-field {
  float: center;
  opacity: 0.8;
  border: 0;
  outline: 0; 
  background: transparent;
  width:400px;
  border-bottom: #1DE28F 2px solid;
  text-align: left;
  font-family: 'Teko';
  font-size: 20px;
  color:#FFFFFF;
  margin-left: 70px;
}
.input-field:hover{
  opacity: 1;
}
.signUpNow-button {
  opacity: 1;
  font-family: 'Teko';
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0.5em;
  color: white;
}
.signUpNow-button a {
  margin-left: 3px;
  text-align: center;
  position: relative;
  color: #1DE28F;
  cursor: pointer;
}

.signUpNow-button a:hover {
  text-decoration: underline;
}

.login-verify-error {
  height: 10px;
  font-family: 'Teko';
  font-size: 18px;
  font-weight: 400;
  color: rgb(255, 73, 73);
  margin-left: 70px;
  margin-top: 2px;
}
.loginSignUp-button {
  display: block;
  text-align: center;
  width: 400px;
  font-family: 'Teko';
  font-size: 20px;
  float: none;
  margin: 0 auto;
  margin-top: 1.5em;
  padding: 10px;
  box-shadow: 0 2px 0 black;
  border-radius: 3px;
  border: none;
  outline: none;
}
.loginSignUp-button:hover {
    opacity: 1;
}
div.signup-button {
   opacity: 0.8;
   text-align: center;
   width: 175px;
   font-family: var(--FontFamily);
   font-size: 34px;
   float: none;
   margin: 0 auto;
   margin-top: 40px;
   padding: 5px;
   color:#FFFFFF;
   font-weight: bold;
   cursor: pointer;
  }
  div.signup-button:hover {
    opacity: 1;
  }
  div.login2-button {
    opacity: 0.8;
    text-align: center;
    width: 300px;
    font-family: var(--FontFamily);
    font-size: 32px;
    float: none;
    margin: 0 auto;
    margin-top: 15px;
    padding: 5px;
    color: var(--themeColor);
    font-weight: bold;
    cursor: pointer;
    }
div.login2-button:hover {
      opacity: 1;
}
div.logo img {
  text-align: center;
  width: 320px;
  padding-bottom: 2em;
}
div.logo {
  text-align: center;
  margin-top: 0px;
}
.login-loader-holder {
  text-align: center;
  margin: 1em auto;
}

.login-loader {
  margin:auto;
}
.move-icons {
  margin-bottom: -3px;
  margin-right: 3px;
}