div.login2-button {
    width: 43px;
    float: none;
    margin: 0 auto;
    padding: 5px;
    color: #1DE28F;
    font-weight: bold;
    cursor: pointer;
    border: #1DE28F 2px solid;
    border-radius: 10px;
  }

  div.registration-button {
    width: 59px;
    float: none;
    margin: 0 auto;
    padding: 5px;
    color: #1DE28F;
    font-weight: bold;
    cursor: pointer;
    border: #1DE28F 2px solid;
    border-radius: 10px;
  }

  .login-box-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 50%;
    margin-left: auto;
    display: block;
    padding: 10px;
    align-content: center;
    border: #1DE28F 2px solid;
    border-radius: 10px;
}