div.loginHeader {
  font-size: 40px;
  color: #1DE28F;
}

div.login1-button {
  width: 45px;
  float: none;
  margin: 0 auto;
  margin-top: 5px;
  padding: 5px;
  color: #1DE28F;
  font-weight: bold;
  cursor: pointer;
}

div.login2-button {
    width: 175px;
    float: none;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    color: #1DE28F;
    font-weight: bold;
    cursor: pointer;
  }

  div.registration-button {
    width: 200px;
    float: none;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    color: #1DE28F;
    font-weight: bold;
    cursor: pointer;
  }

  div.registration2-button {
    width: 65px;
    float: none;
    margin: 0 auto;
    margin-top: 5px;
    padding: 5px;
    color: #1DE28F;
    font-weight: bold;
    cursor: pointer;
  }

  .login-box-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 50%;
    margin-left: auto;
    display: block;
    padding: 10px;
    align-content: center;
}

.text-line {
  background-color: transparent;
  text-align: center;
  color: #eeeeee;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: #1DE28F 2px solid;
  width: 185px;
  padding: 3px 10px;
}

div.logo img {
  text-align: center;
  width: 420px;
  margin-bottom: 15px;
}

div.logo {
  text-align: center;
  margin-top: 0px;
}
