@import url('https://fonts.googleapis.com/css?family=Teko');

/* for mobile */
@media only screen and (max-width: 426px) {
    .moment-view-container {
        width: 100%;
    }
    .moment-view-separator {
        margin: 1em auto;
    }
}

/* for tablets */
@media only screen and (min-width: 426px) and (max-width: 769px) {
    .moment-view-container {
        width: 90%;
    }
    .moment-view-separator {
        margin: 2em auto;
    }
}

/* laptops */
@media only screen and (min-width: 769px) {
    .moment-view-container {
        width: 80%;
    }
    .moment-view-separator {
        margin: 2em auto;
    }
}

.moment-view-container {
    margin: auto;
}

.moment-view-container .Moment-preview-container img {
    max-height: 320px;
    height: 100%;
}

.moment-view-container .Moment-preview-container {
    max-width: 405px;
    width: initial;
    transform: rotate(0deg);
    margin-bottom: 0;
}

.moment-view-container .Moment-preview-container:hover {
    transform: translateY(-3px);
    transition: 0s; 
    -webkit-transition: 0s;
}

@media only screen and (min-width: 531px) {
    .moment-view-container .Moment-preview-container {
        margin: 1.5em auto;
    }
}

@media only screen and (max-width: 531px) {
    .moment-view-container .Moment-preview-container {
        margin: 1.5em;
    }
}

.moment-view-separator {
    width: 4px;
    height: 4px;
    padding: 1px;
    border-radius: 3px;
    background: #69696996;
    box-shadow: 0 1px 0 black;
}