.Moment-preview-container:hover {
    cursor: pointer;
}

.Moment-preview-container {
    text-align: left;
    margin: 20px;
    padding: 10px;
    align-content: center;
    background-color: rgba(196, 196, 196, 0.282);
    height: 300px;
}

.Moment-preview-layout {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    height: 100%;
}

.Moment-preview-info {
    margin-top: auto;
}

.Moment-thumbnail {
    position: relative;
    float: left;
    width:  400px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
