@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

/* By default, tilt all moments by -2 degrees */
.Moment-preview-container {
    display: inline-block;
    margin: 34px;
    padding: 15px;
    text-align: right;
    font-size: 15px;
    font-style: normal;
    width: 405px;
    font-variant: normal;
    font-weight: 300;
    box-shadow: 5px 10px 20px black;
    align-content: center;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transition: .3s ease-out;
    -webkit-transition:  .3s ease-out;
    -moz-transition:  .3s ease-out;
    max-width: 405px;
}

.Moment-preview-container h1 {
  clear: both;
  font-family: 'Gloria Hallelujah', cursive;
}

.Moment-preview-info {
    margin-top: auto;

}

.Moment-thumbnail {
    position: relative;
    width:  400px;
    height: 320px;
    margin-bottom: 7px;
    margin-right:2.5px;
    margin-left: 2.5px;
    object-fit: cover;
}

/* Rotate all even images 2 degrees */
.Moments-list li:nth-child(5n) .Moment-preview-container{
  transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}
/* offset every 3rd image's position */
.Moments-list li:nth-child(5n+1) .Moment-preview-container{
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}
/* Rotate every fifth image by 5 degrees and offset it */
.Moments-list li:nth-child(5n+2) .Moment-preview-container{
  transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  right: 5px;
}
/* Keep default rotate for every eighth, but offset it */
.Moments-list li:nth-child(5n+3) .Moment-preview-container{
  position: relative;
  top: 8px;
  right: 5px;
}
/* Keep default rotate for every eleventh, but offset it */
.Moments-list li:nth-child(5n+4) .Moment-preview-container{
  position: relative;
  top: 3px;
  left: -5px;
}

.Moments-list li .Moment-preview-container:hover {
    cursor: default;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -webkit-transition: color .8s ease-in;
    -moz-transition: color .8s ease-in;
    position: relative;
    z-index: 5;
    transition: .3s ease-in-out;
}

.top-caption {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  clear: both;
  font-size: 24px;
  font-family: 'Gloria Hallelujah', cursive;
}

.delete-button {
  position: absolute;
  top: -10px;
  right: 3px;
  font-size: 22px;
}