.Moment-preview-container:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    position: relative;
    z-index: 5;
    height: 440px;
    background-color: #FFFF;
    transition: .3s ease-in-out;
}

@font-face {
    font-family: 'Gloria Hallelujah';
    @import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
}

.Moment-preview-container {
    text-align: right;
    font-family: 'Gloria Hallelujah';
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font weight: 300;
    margin: 20px;
    padding: 16px;
    box-shadow: 5px 10px 20px black;
    align-content: center;
    background-color: #FFFF;
    background-image: url("../resources/polaroid_texture.png");
}

.Moment-preview-layout {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    height: 100%;
}

.Moment-preview-info {
    margin-top: auto;
}

.Moment-thumbnail {
    position: relative;
    float: left;
    width:  400px;
    height: 320px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
