.Moments-list {
    display: flex;
    flex-flow: row wrap;
    margin: 25px;
    margin-top: 0.5em;
    margin-bottom: 0;
    justify-content: space-evenly;
}

.Moment-list-item {
    width: 80px;
    height: 50px;
}

.moment-list-container {
    margin: 1em 20px;
}