  @import url('https://fonts.googleapis.com/css?family=Teko');

  .logout-loader-holder > div {
    bottom: 15px;
    position: relative;
    text-align: right;
    margin-right: 2em;
  }

  div.navbar-container {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    background: #202020;
    padding: 0.5em;
    z-index: 999;
    box-sizing: border-box;
    height: 58px;
  }

  div.login-button {
    position: relative;
    width: 100px;
    text-align:right;
    float: right;
    padding: 0px;
    border: #202020 1px solid;
    border-radius: 2px;
    cursor: pointer;

  }
div.login-button img {
    width: 100px;
    bottom: 0;
    display: inline-block;
  }

div.logout-button {
    width:100;
    height:30;
    float: right;
    padding: 4px;
    cursor: pointer;
    border: #202020 1px solid;
    border-radius: 2px;
  }
  div.logout-button img {
      position: right;
      width: 35px;
      bottom: 0;
      display: inline-block;
    }

  
  div.createMoment-button img {
    width: 45px;
    margin-top: -4px;
    cursor: pointer;
  }

  div.profile-button {
    display: inline-block;
    float: right;
    cursor: pointer;
  }
  div.profile-button img {
    margin-top: 5px;
    float: right;
    width: 45px;
    cursor: pointer;
  }

  div.home-button {
    float: left;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  div.home-button img{
    float: left;
    height: 35px;
    padding-top: 0px;
    font-weight: bold;
    cursor: pointer;
  }
