  @import url('https://fonts.googleapis.com/css?family=Teko');
  div.navbar-container {
    display: block;
    position: sticky;
    top: 0;
    background: #202020;
    height: 42px;
    padding: 1em;
    z-index: 999;
  }

  div.login-button {
    opacity: 0.8;
    position: relative;
    width: 100px;
    text-align:right;
    float: right;
    padding: 0px;
    border: #202020 1px solid;
    border-radius: 2px;
    cursor: pointer;

  }

div.login-button img {
    opacity: 0.8;
    width: 100px;
    bottom: 0;
    display: inline-block;
  }


div.login-button:hover{
    opacity: 1;
}

div.logout-button {
    opacity: 0.8;
    width:100;
    height:30;
    float: right;
    padding: 4px;
    cursor: pointer;
    border: #202020 1px solid;
    border-radius: 2px;
  }
  div.logout-button img {
      opacity: 0.8;
      position: right;
      opacity: 0.8;
      height: 30px;
      width: 100px;
      bottom: 0;
      display: inline-block;
    }
  div.logout-button:hover{
    opacity: 1;
  }

  div.createMoment-button {
    display: inline-block;
    margin-left: auto;
    text-align: center;
    padding-top: -1px;
    padding-left: 1px;
    color: #1DE28F;
    font-family: 'Teko';
    width: 170px;
    cursor: pointer;
    font-size: 34px;
  }

  div.profile-button {
    width:100;
    height:100;
    display: inline-block;
    float: right;
    padding: 3px 3px;
    cursor: pointer;
  }

  div.profile-button img {
    width: 22px;
    padding-top: 2px;
  }

  div.home-button {
    float: left;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  div.home-button img{
    float: left;
    height: 40px;
    padding-top: 0px;
    font-weight: bold;
    cursor: pointer;
  }
