body {
    background: white;
}

.user-contribution-container {
    width: 80%;
    margin: auto;
    padding: 1em 0;
    text-align: left;
}

.views {
    display: flex;
    flex-direction: row;
}

.header-username {
    font-size: 45px;
    margin: 0px 20px; 
    font-weight: 100;
}

.header-section {
    font-size: 35px;
    margin: 5px 10px 5px 20px; 
    font-weight: 100; 
}

.header-section:hover{
    cursor: pointer;
}

.line-separator{
    display: inline-block;
    text-align: center;
    margin: 0 20px;
    height: 1px;
    width: 550px;
    background: #B1B1B1;
}